{% extends 'base.html' %}
{% load static %}
{% block content%}
<h1>ALL THE FILMS</h1>
{%for film in films%}
<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">{{film.title}}</h5>
        <p class="card-text">
            Date : {{film.release_date}} <br>
            Category: {{film.category}}<br>
            Country : {{film.created_in_country}}<br>
        </p>
        <a href="#" class="btn btn-primary">Modify the Director</a>
        <a href="#" class="btn btn-primary mt-2">Modify the Film</a>
    </div>
</div>
{%endfor%}
{% endblock%}
