* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    text-decoration: none;
    list-style: none;
}

header {
    background-color: black;
    padding: 10px 50px;
}


.fa-crown {
    font-size: 27px;
    color: white;
}

nav {
    float: right;
}

a {
    color: white;
    font-size: 14px;
    
}

.navlist {
    display: inline-block;
    justify-content: space-between;
    padding: 0px 15px;
}

li:nth-child(3) {
    padding-right: 0;
}

.eachcard {
    display: inline-block;
    text-align: center;
    margin-top: 15px;
    margin-left: 25px;
    padding: 0px;
}

#image1 {
    background-image: url(../images/image1.png);
}
#image2 {
    background-image: url(../images/image2.png);
}
#image3 {
    background-image: url(../images/image3.png);
}
#image4 {
    background-image: url(../images/image4.png);
}

.image {
    height: 250px;
    width: 215px;
    background-size: cover;
    background-repeat: no-repeat;
}

.new_tag {
    background-color: rgb(22, 160, 133);
    height: 35px;
    width: 35px;
    color: white;
    border-radius: 50px;
    font-size: 12px;
    text-align: center;
    line-height: 2.9;
    position: absolute;
    left: -95px;
    
}
.discount_tag {
    background-color: #d7292a;
    height: 35px;
    width: 35px;
    color: white;
    border-radius: 50px;
    font-size: 12px;
    text-align: center;
    line-height: 2.9;
    position: absolute;
    right: -95px;

    
}

.tags {
    justify-content: space-between;
    display: inline-block;
    font-weight: bold;
    position: relative;
    top: -8px;
}



.details {
    padding: 25px 5px;
    font-size: 14px;
    font-weight: bold;
}

button {
    background-color: white;
    padding: 7px 20px;
    color: rgb(160, 160, 160);
    font-size: 13px;
    font-weight: bold;
    border-color: rgba(128, 128, 128, 0.267);
}

.rpt {
    color: rgb(22, 160, 133);
}

span {
    color: rgb(160, 160, 160);
    font-size: 12px;
    text-decoration: line-through;
}

#productfile{
    border-bottom: 2px solid white;
    padding-bottom: 2px;
}
.eachcard {
    transition: 0.9s;
}
.eachcard:hover {
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.367);
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(0, 0, 0);
    color: white;
    text-align: center;
}

@media only screen and (max-width: 600px) {
    header {
        padding: auto 50px;
        overflow: auto;
    }

    .navlist {
        display: block;
    }

    .fa-crown {
        font-size: 65px;
    }
}