nav {
    background-color: black;
    margin: 0;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    padding: 10px 20px;
    overflow: hidden;
}

div {
    border: 2px solid white;
    display: inline-block;
    position: relative;
}

a{
    position: right;
    text-decoration: none;
}

#product{
    margin-left: 1280px;
}

#main {
    padding: auto;
    margin: auto;
}
.fa-solid{
    color: white;
    font-size: 30px;
}
